   @import "tailwindcss";
   .animate-gradient {
      background: linear-gradient(90deg, #ffffff, #ffd6e7, #ffe066, #ffffff);
      background-size: 300% 100%;
      -webkit-background-clip: text;
      background-clip: text;
      -webkit-text-fill-color: transparent;
      filter: drop-shadow(0 2px 4px rgba(0, 0, 0, 0.2));
      animation: gradientMove 3s ease infinite;
    }

    @keyframes gradientMove {
      0% {
        background-position: 0% 50%;
      }

      50% {
        background-position: 100% 50%;
      }

      100% {
        background-position: 0% 50%;
      }
      
    }
    @keyframes marquee {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%); /* เลื่อนไปครึ่งหนึ่งของความกว้างทั้งหมด */
  }
}

.animate-marquee {
  animation: marquee 25s linear infinite; /* ปรับความเร็วตรง 25s */
}

@layer components {
  /* กำหนด Component สำหรับปุ่ม */
  .btn-primary {
    @apply px-5 py-2.5 bg-blue-600 text-white font-medium rounded-lg hover:bg-blue-700 active:scale-95 transition-all shadow-sm;
  }
  
  /* กำหนด Component สำหรับ Input Form */
  .form-input {
    @apply w-full px-4 py-2 border border-gray-300 rounded-lg focus:ring-2 focus:ring-blue-500 focus:border-blue-500 outline-none transition-all;
  }
}